.B1Parent {
    display: grid;
    grid-template-columns: 1fr 14fr;
    grid-template-rows: 2fr 2fr repeat(4, 3fr); 
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    height: 100vmin;
}
.B1Back {
    grid-area: 1 / 1 / 2 / 2; 
    padding: 5px;
}
.B1Title{
    grid-area: 2 / 2 / 3 / 3;
}
.B1Story { 
    grid-area: 3 / 2 / 4 / 3;
}
.B1Event { 
    grid-area: 4 / 2 / 5 / 3;
} 
.B1Person {
    grid-area: 5 / 2 / 6 / 3;
}
    