.InterfaceParent{
    width: 98%;
    height: 98%;
    border:4px solid black;
    border-radius:10px;
    background-color: grey;
    font-family: "HuangYou";

    display: grid;
    grid-template-columns: 1fr 28fr 1fr;
    grid-template-rows: 1fr 4fr 20fr 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 


}
.InterfaceHead{
    grid-area: 2 / 2 / 3 / 3;
    background-color: aliceblue;
}
.InterfaceBody{
    grid-area: 3 / 2 / 4 / 3;
    background-color: aliceblue;
}