.MainB1Event{
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.MainB1EventIcon{
    height: 3em;
    width: 3em;
    margin-right: 2em;
}
.MainB1EventIcon>img{
    width: 100%;
    height: 100%;
}
.MainB1EventContent{
    font-size: 3em;
    letter-spacing: 5px;
}