.S1S1I1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #75878a;
    height: 100%;
}

.S1S1I2 {
    grid-area: 2 / 2 / 4 / 5;
    font-size: 1.5em;
    filter: blur(1.5px);
}