.A1TitleParent {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: 'LongCang';
} 
.A1TitleTitle { 
    grid-area: 1 / 1 / 2 / 3;
    font-size: 18vh;
    text-align:center;
 }
.A1TitleAuthor { 
    grid-area: 2 / 2 / 3 / 3;  
    font-size: 3vh;
    justify-items: center;
    align-items: center;
}