.MainB1Parent {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(2, 5fr);
    grid-template-rows: 1fr 10fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vmin;
}
.MainB1Back {
    grid-area: 1 / 1 / 2 / 2;
    padding: 5px;
}
.MainB1Story { 
    grid-area: 2 / 1 / 3 / 3;
}
.MainB1Person {
    grid-area: 2 / 3 / 3 / 4; 
}
.MainB1Event { 
    grid-area: 2 / 4 / 3 / 5; 
} 