.S1S3I1{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to right,#d1d9e0 , black);
}
.S1S3I2{

}
.S1S3I3{

}
.S1S3I4{

}
.S1S3I5{

}
.S1S3I6{

}
.S1S3I7{

}
.S1S3I8{

}