.MenuButton:after{
    left: 50%;
    top: 95%;
    width: 0;
    height: 0.06em;
    background: black;
    transition: all 0.1s;
    position: absolute;
    content: "";
    border-radius: 0.03em;
}
.MenuButton:hover::after{
    width: 100%;
    left: 0;
}
.MenuButton{
    float: left;
    clear:left;
    position: relative;
}
/*入场动画开始*/
.A1-enter {
    opacity: 0;
  }
   
  /*入场动画过程*/
  .A1-enter-active {
    opacity: 1;
    transition: opacity .1s ease-in;
  }
   
  /*入场动画结束*/
  .A1-enter-done {
    opacity: 1;
  }
   
  /*离场动画开始*/
  .A1-exit {
    opacity: 1;
  }
   
  /*离场动画过程*/
  .A1-exit-active {
    opacity: 1;
    transition: opacity .1s ease-in;
  }
   
  /*离场动画结束*/
  .A1-exit-done {
    opacity: 0;
  }
   
  /*页面第一次加载时的开始状态*/
  .A1-appear {
    opacity: 0;
  }
   
  /*页面第一次加载时的动画过程*/
  .A1-appear-active {
    opacity: 1;
    transition: opacity .1s ease-in;
  }