body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'LongCang';
}
html { overflow-x: hidden; overflow-y: hidden; }
@font-face {
  font-family: 'LongCang';
  src: url('LongCang-Regular.ttf');
}
@font-face {
  font-family: 'HuangYou';
  src: url('HuangYou-Regular.ttf');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}