body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'LongCang';
  user-select:none;
}
html { overflow-x: hidden; overflow-y: hidden; }
@font-face {
  font-family: 'LongCang';
  src: url('LongCang-Regular.ttf');
}
@font-face {
  font-family: 'HuangYou';
  src: url('HuangYou-Regular.ttf');
}