.MenuButton:after{
    left: 50%;
    top: 95%;
    width: 0;
    height: 0.06em;
    background: black;
    transition: all 0.1s;
    position: absolute;
    content: "";
    border-radius: 0.03em;
}
.MenuButton:hover::after{
    width: 100%;
    left: 0;
}
.MenuButton{
    float: left;
    clear:left;
    position: relative;
}
.MenuPath{
    font-size: 2vh;
}
.MenuBack::before{
    position: absolute;
    top: 1vh;
    right: 100%;
    font-size: 1em;
    font-family: 'Material Icons';
    content: "arrow_back";
}
.MenuFolder::before{
    position: absolute;
    top: 1vh;
    right: 100%;
    font-size: 1em;
    font-family: 'Material Icons';
    content: "folder";
}
.MenuFolder:hover::before{
    content: "folder_open";
}
/*入场动画开始*/
.A1B1-enter {
    opacity: 0;
  }
   
  /*入场动画过程*/
  .A1B1-enter-active {
    opacity: 1;
    transition: opacity .1s ease-in;
  }
   
  /*入场动画结束*/
  .A1B1-enter-done {
    opacity: 1;
  }
   
  /*离场动画开始*/
  .A1B1-exit {
    opacity: 1;
  }
   
  /*离场动画过程*/
  .A1B1-exit-active {
    opacity: 1;
    transition: opacity .1s ease-in;
  }
   
  /*离场动画结束*/
  .A1B1-exit-done {
    opacity: 0;
  }
   
  /*页面第一次加载时的开始状态*/
  .A1B1-appear {
    opacity: 0;
  }
   
  /*页面第一次加载时的动画过程*/
  .A1B1-appear-active {
    opacity: 1;
    transition: opacity .1s ease-in;
  }